<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    <h3>Accession update successful</h3><br>
    for accession number: <span th:text="${accession.accessionNumber}"></span><br>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" th:href="@{/accession/list}">Back to Accession list</a><br></div>
</div>
</body>
</html>