<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    <form th:action="@{/admin/populate}" th:object="${adminPasswordDto}" method="post" class="form-horizontal">
        <div class="form-group row">
            <label for="pwd" class="col-xs col-form-label mr-2">Password:</label>
            <div class="col-sm"><input type="password" th:field="*{adminPassword}" id="pwd" placeholder="admin password" class="form-control" /></div>
        </div>

        <div class="form-group row">
            <button class="btn btn-primary btn-lrg" type="submit">Populate database</button>
        </div>
    </form>

</div>
</body>
</html>