<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registered - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    Welcome to the Marine Information Management System<br>
    You have successfully registered as <span th:text="${user.fullName}"></span>.<br>
    <a th:href="@{/login}">Login</a> here.
</div>
</body>
</html>