@import url('https://fonts.googleapis.com/css?family=Inconsolata|Forum|EB+Garamond');

* {
    font-family: 'EB Garamond', cursive;
}

.mims\.menu {
    padding: 5px;
}

.error {
    color: darkred;
    background-color: darkgrey;
}

h1 {
    font-family: 'EB Garamond', cursive;
    padding-bottom: 5px;
    border-bottom: 2px solid;
}

h5 {
    font-family: 'Forum', cursive;
    border-bottom: 1px solid;
    padding: 2px;
}

h6 {
    font-family: 'Inconsolata', cursive;
}

.table-row {
    border-top: 1px solid;
}

.hint {
    font-size: small;
    color: #1b1e21;
}

.rTable {
    display: table;
    width: 100%;
}
.rTableRow {
    display: table-row;
}
.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
}
.rTableCell, .rTableHead {
    display: table-cell;
    padding: 3px 10px;
    border: 1px solid #999999;
    max-width: 50ch;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: middle;
    text-align: left;

}

.rTableHeading {
    display: table-header-group;
    background-color: #ddd;
    font-weight: bold;
}
.rTableFoot {
    display: table-footer-group;
    font-weight: bold;
    background-color: #ddd;
}
.rTableBody {
    display: table-row-group;
}

.deletebtn {
    background-color: rgb(219, 52, 52);
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    display: inline-block;
  
    padding:8px 16px;
    vertical-align:middle;
    overflow:hidden;
    text-decoration:none;
    text-align:center;
    cursor:pointer;
    white-space:nowrap
  }
  
  .deletebtn:hover, .dropbtn:focus {
    background-color: rgb(219, 52, 52);
  }