<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    Welcome to the Marine Information Management System<br>
    Select your option:<br>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/register">Register</a></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/ingest">Sign In</a><br></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/ingest">Search the MIMS</a><br></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/ingest">Accession some data</a><br></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/ingest">Contact us</a><br></div>
</div>
</body>
</html>