<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    <h1>Welcome to the Marine Information Management System</h1>
    <h5>Select your option:</h5>
    <div th:if="${signedIn == false}">
        <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/register">Register</a></div>
        <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/login">Sign In</a><br></div>
    </div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/">Search the MIMS</a><br></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/ingest/home">Accession area</a><br></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" href="/">Contact us</a><br></div>
    <div th:if="${adminUser}">
        <div th:if="${showPopulate}" class="mims.menu"><a class="btn btn-sm btn-primary" href="/admin/populate">Populate db</a><br></div>
    </div>
</div>
</body>
</html>