<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
    <link rel="stylesheet" th:href="@{/css/listaccession.css}" />
</head>
<body>
<div class="container">
    <h2>Accessions</h2>
    <div class="rTable">
        <div class="rTableRow">
            <div class="rTableHead"><strong>Accession ID</strong></div>
            <div class="rTableHead"><strong>Name</strong></div>
            <div class="rTableHead"><span style="font-weight: bold;">Embargo</span></div>
            <div class="rTableHead"><span style="font-weight: bold;">Embargo expiry</span></div>
            <div class="rTableHead"><span style="font-weight: bold;">Accession status</span></div>
        </div>
        <div class="rTableRow" th:each="accession: ${accessionList}">
            <div class="rTableCell" th:text="${accession.accessionID}"></div>
            <div class="rTableCell" th:text="${accession.name}"></div>
            <div class="rTableCell" th:text="${accession.embargoState}"></div>
            <div class="rTableCell" th:text="${accession.embargoExpiry}">-</div>
            <div class="rTableCell" th:text="${accession.status?.name}">-</div>
            <div class="dropdown">
                <button th:onclick="@{myFunction('{id}')(id=${accession.accessionID})}" class="dropbtn">...</button>
                <div th:id="@{{id}(id=${accession.accessionID})}" class="dropdown-content">
                    <a th:href="@{/manage/{id}/(id=${accession.accessionID})}"  >Edit</a>
                    <a th:href="@{/manage/confirm-delete/{id}/(id=${accession.accessionID})}" >Delete</a>
                </div>
            </div>


        </div>
    </div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" th:href="@{/ingest/home}">Back to Accession area</a><br></div>

</div>

<script>
    /* When the user clicks on the button, 
    toggle between hiding and showing the dropdown content */
    function myFunction(identifier) {
      hideall();
      document.getElementById(identifier).classList.toggle("show");
    }
    
    function hideall(){
        var dropdowns = document.getElementsByClassName("dropdown-content");
        var i;
        for (i = 0; i < dropdowns.length; i++) {
          var openDropdown = dropdowns[i];
          if (openDropdown.classList.contains('show')) {
            openDropdown.classList.remove('show');
          }
        }
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function(event) {
      if (!event.target.matches('.dropbtn')) {
        hideall();
      }
    }
    </script>

</body>
</html>