<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    <h1>MIMS Accessioning Home</h1>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" th:href="@{/accession/list}">List Accessions</a><br></div>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" th:href="@{/ingest/accession}">Create Accession</a><br></div>
</div>
</body>
</html>