<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Home - MIMS Accession Area</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/css/mims.css}" />
</head>
<body>
<div class="container">
    <h3>Accession successful</h3><br>
    New accession ID: <span th:text="${accession.accessionID}"></span><br>
    Files in accession: <span th:text="${#lists.size(accession.files)}"></span>
    <div class="mims.menu"><a class="btn btn-sm btn-primary" th:href="@{/ingest/home}">Back to Accession area</a><br></div>
</div>
</body>
</html>